    /* Table of contents */
   
/* 1. Fonts */
/* 2. Core styles */
/* 3. Header section */
/* 4. Navigation */
/* 5. Top banner */
/* 6. Main Content */
/* 7. Covid info */
/* 8. News Grid */



/* Footer section */

/* Media queries */
/* Key Frames */


/* Project fonts */
/* Rubik */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../webfonts/rubik-v19-latin-regular.woff2") format("woff2"), 
        url("../webfonts/rubik-v19-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../webfonts/rubik-v19-latin-500.woff2") format("woff2"), 
        url("../webfonts/rubik-v19-latin-500.woff") format("woff"); 
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../webfonts/rubik-v19-latin-700.woff2") format("woff2"), 
        url("../webfonts/rubik-v19-latin-700.woff") format("woff"); 
}

/* Roboto */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../webfonts/roboto-v29-latin-regular.woff2") format("woff2"), 
    url("../webfonts/roboto-v29-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../webfonts/roboto-v29-latin-italic.woff2") format("woff2"), 
        url("../webfonts/roboto-v29-latin-italic.woff") format("woff"); 
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../webfonts/roboto-v29-latin-500.woff2") format("woff2"), 
        url("../webfonts/roboto-v29-latin-500.woff") format("woff"); 
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("../webfonts/roboto-v29-latin-500italic.woff2") format("woff2"), 
        url("../webfonts/roboto-v29-latin-500italic.woff") format("woff"); 
}
/*---------------------------------------------*/
/* Core styles */    
html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
    height: 100%;
    scroll-behavior: smooth;
}

*:focus{
    outline: none;
    box-shadow: 0 0 0 1.5px rgba(41, 89, 147, 0.4); 
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/*---------------------------------------------*/
/* Site Header section styles */

.site-header{
    padding-top: 40px;
    padding-bottom: 23px;
    border-top: 4px solid #295093;
    background-color: #f6f6f6;
}

.site-header__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.logo{
    color: #295091;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 28px;
    line-height: 33px;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    transition: transform 0.5s ease;
}

.logo:hover{
    transform: scale(1.015);
}

.logo:focus{
    box-shadow: 0 0 0 1.5px rgba(41, 89, 147, 0.4);
}

.exchange-rates{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 17px;
    color: #7a7a7a;
}

.exchange-rates__item :not(:last-child){
    margin-left: 26px;
}

.exchange-rates__icon{
    color: #285193;
}

.site-header__actions{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.search-button__wrappper{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.search-button{
    padding: 8px;
    margin-right: 22px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #535353;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.telegram-sub:hover,
.language-toggler:hover,
.search-button:hover{
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); 
}

.language-toggler__wrapper{
    display: flex;
    align-items: center;
}

.language-toggler{
    margin-right: 23px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.language-toggler__img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.language-toggler__text{
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #535353;
    margin-left: 5px;
}

.telegram-sub{
    display: flex;
    align-items: center;
    background-color: #1e96c8;
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    padding: 10px 12px 8px 10px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}

.telegram-sub:hover{
    background-image: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}

.telegram-sub__text{
    font-weight: 500;
    padding-left: 7px;
    font-style: medium;
    color: #fff;
    line-height: 19px;
    font-size: 16px;
    text-decoration: none;
}

/*---------------------------------------------*/
 /* Burger menu styles */
.menu-btn{
    position: relative; 
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 52px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger{
    width: 40px;
    height: 5px;
    background: #295091;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: #295091;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 29, 110, 0.2);
    transition: all .5s ease-in-out;
}

/*---------------------------------------------*/
/* Burger animation styles */
.menu-btn__burger::before{
    transform: translateY(-16px);
}

.menu-btn__burger::after{
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger{
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg);
}

/*---------------------------------------------*/
/* Site navigation section styles */
.site-nav{
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.20);
    border-radius: 5px;
    margin-bottom: 18px;
}

.site-nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 17px 12px;
    list-style-type: none;
    margin: 0;
}

.site-nav__item:not(:last-child){
    margin-right: 28px;
}

.site-nav__link{
    text-decoration: none;
    font-family: Rubik;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: #515151;
    transition: color 0.3s ease;
}

.site-nav__link:hover{
    color: #295091;
}

/*---------------------------------------------*/
/* Top banner section styles */
.top-banner{
    margin-bottom: 45px;
}

.top-banner__link{
    display: flex;
}

/*-----------------------------------------------------*/
/* Main content section styles */
.main-content{
    flex-grow: 1;
    padding-top: 22px;
    padding-bottom: 38px;
}

/* Covid info section styles */
.covid-info{
    display: flex;
    align-items: center;
    padding: 30px 35px;
    margin-bottom: 18px;
    border-radius: 5px;
    background-color: #f6f6f6;
    color: #000;
}

.covid-info::before{
    content: "";
    margin-right: 25px;
    width: 40px;
    height: 40px;
    background: url("../img/icon-covid.png") no-repeat center center / contain;
}

.covid-info__heading{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 70px;
    width: 235px;
    font-weight: 500;
    line-height: 24px;
    width: 235px;
}

.covid-info__stats-list{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.covid-info__stat{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 29px;
    padding-right: 29px;
    border-left: 2px solid #EB5569;
    cursor: pointer;
}

.covid-info__stat::before{
    content: "";
    width: 38px;
    height: 40px;
    margin-right: 18px;
}

.covid-info__stat--infected{
    padding-top: 17px;
    padding-bottom: 17px;
}

.covid-info__stat--infected::before{
    background: url("../img/icon-infected.svg") no-repeat center center / contain;
}
.covid-info__stat--recovered::before{
    background: url("../img/icon-recovered.svg") no-repeat center center / contain;
}
.covid-info__stat--deaths::before{
    background: url("../img/icon-deaths.svg") no-repeat center center / contain;
}

.covid-info__stat-title{
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.red{
    color: #db0000;
}
.green{
    color: #05b135;
}
.dark{
    color: #000;
}

.covid-info__stat-value{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

/*-------------------------------------------------*/
/* News grid section styles */
.news-grid{
    margin-bottom: 16px;
}

.news-grid__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -21px;
    list-style-type: none;
}

.news-grid__item{
    position: relative;
    flex-grow: 1;
    width: 386px;
    margin-bottom: 18px;
    margin-left: 21px;
}

.news-grid__item:hover .news-grid__link{
    color: #295091;
}

.news-grid__image{
    width: 100%;
    height: 190px;
    margin-bottom: 11px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center top;
}

.news-grid__heading{
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    width: auto;
}

.news-grid__link{
    text-decoration: none;
    color: #202020;
    transition: color 0.2s ease;
}

.news-grid__link::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*-------------------------------------------------*/
/*  section styles */





/*-------------------------------------------------*/
/* Footer section styles */
.site-footer{
    background-color: #295093;
    padding: 18px 0;
    color: #fff;
}

.site-footer *:focus{
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5); 
}

.site-footer__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.site-footer__logo{
    margin-right: auto 0;
    padding: 10px 11px;
    background-color: #133C82;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    color: #fff;    
    text-decoration: none;
    border-radius: 5px;
    display: flex;
}

.site-footer__top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.site-footer__sub-text{
    margin: 0;
    margin-right: 17px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
}

.site-footer__sub-text1{
    display: none;
    margin: 0;
    margin-right: 17px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
}

.telegram-footer{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    border-radius: 5px;
}

.telegram-footer:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.telegram-footer__img{
    margin-right: 7px;
}

.telegram-footer__text{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #295093;
}

.site-footer__divider{
    height: 3px;
    border: none;
    margin-bottom: 12px;
    background-color: #133C82;
}

.site-footer__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer__heading{
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
}

.site-footer__about{
    max-width: 365px;
    margin-right: 110px;
    font-size: 14px;
    line-height: 17px;
}

.site-footer__nav{
    display: flex;
    flex-wrap: wrap;
    max-width: 520px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.site-footer__nav-item{
    width: 50%;
    margin-bottom: 10px;
}

.site-footer__nav-link{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

.site-footer__nav-link:hover{
    text-decoration: underline;
}

/*---------------------------------------------*/
/* Media queries */
@media(max-width:1150px){
    /* Covid info section styles */
    .covid-info__heading{
        margin-right: 20px;
    }

    .covid-info__stat{
        padding-left: 15px;
        padding-right: 15px;
    }

    .covid-info__stat--infected{
        padding-top: 0px;
        padding-bottom: 0px;
    }

}

@media(max-width: 991px){
    /* header section styles */
    .site-header{
        padding-top: 20px;
    }

    .site-header__top{
        align-items: stretch;
    }
    
    .exchange-rates{
        width: 100%;
        order: -1;
        justify-content: center;
    }

    /* Covid info section styles */
    .covid-info{
        flex-wrap: wrap;
    }

    .covid-info::before{
        display: none;
    }

    .covid-info__heading{
        width: auto;
        margin-right: 0;
        justify-content: center;
        margin: auto;
    }

    .covid-info__stats-list{
        width: 100%;
        margin-top: 15px;
    }

    .covid-info__stat--infected{
        border-left: none;
        display: flex;
        justify-content: center;
    }

    /* Footer section */
    .site-footer__sub-text{
        max-width: 440px;
    }
}

@media (max-width:850px){
    /* footer section */
    .site-footer__bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .site-footer__about{
        max-width: 800px;
        text-align: center;
        margin-right: 0;
    }
}

@media(max-width: 778px){
    .page-body{
        margin-top: 82px;
    }

    .site-header{
        position: fixed;
        width: 100%;
        padding: 20px 0;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .site-header__top{
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    .exchange-rates{
        font-size: 14px;
        line-height: 17px;
    }

    .telegram-sub{
        margin-right: 40px;
    }

    .exchange-rates, 
    .search-button,
    .site-nav{ 
        display: none;
    }

    .site-nav__item:not(:last-child){
        margin-right: 0px;
    }

    .menu-btn{
        display: block;
        z-index: 20;
    }

    .site-nav{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 15;
        width: 60%;
        border-radius: 0;
        margin-bottom: 0;
        transition: transform .4s ease;
        transform: translateX(120%);
        animation: site-nav-slide-out .4s ease 1 forwards;
    }

    .sitenav--open{
      
        box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
        animation: site-nav-slide-in .4s ease 1 forwards;
    }

    .site-nav .site-nav__list{
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
        padding-top: 82px;
    }

    .site-nav__item{
        margin: 0;
        width: 100%;
    }

    .site-nav__item:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #295091;
    }

    .site-nav__item:not(:last-child){
        margin-bottom: 10px;
    }

    .site-nav__link{
        padding: 10px 20px;
        transition: color 0.3s ease;
        background-color: color 0.3s ease;
        display: block;
        letter-spacing: 1px;
    }

    .site-nav__link:active{
        background-color: #295091;
        color: #fff;
    }

    .site-nav__link{
        font-size: 16px;
        line-height: 20px;
    }

    .site-nav__item{
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .top-banner{
        display: none;
    }

    /* Footer section */
    .site-footer__sub-text{
        display: none;
    }
    
    .site-footer__sub-text1{
        display: block;
    }

    .site-footer__about{
        order: 1;
    }
}

@media(max-width: 650px) {
    .telegram-sub{
        display: none;
    }

    /* covid info section styles */
    .covid-info{
        padding: 15px;
    }

    .covid-info__stats-list{
        flex-direction: column;
    }

    .covid-info__stat{
        border-left: none;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 15px;
    }

    .covid-info__stat:not(:last-child){
        border-bottom: 2px solid #f4ccd1;
    }

    /* footer section */
    .site-footer__nav-item{
        text-align: center;
    }
}

@media(max-width: 576px) {
    .language-toggler{
        display: none;
    }

    .logo{
        font-size: 25px;
    }

    .site-nav{
        width: 80%;
    }

    /* covid info section styles */
    .covid-info__heading{
        text-align: center;
    }
     /* Footer section */
    .site-footer__sub-text1{
        display: none;
    }

    .site-footer__nav{
        display: flex;
        margin-bottom: 10px;
    }

    .site-footer__nav-item{
        width: 100%;
        margin-bottom: 5px;
    }
    .site-footer__nav-link{
        line-height: 5px;
    }
}

/*---------------------------------------------*/
/* Keyframes */
@keyframes site-nav-slide-in {
    from{
        transform: translateX(120%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes site-nav-slide-out {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(120%);
    }
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    